.list-view {
  height: calc(100% - 100px);
  overflow-y: auto;
}

@media screen and (min-width: 426px) {
  .list-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 26px;
  }
}

@media screen and (min-width: 1441px) {
  .list-view {
    padding-top: 50px;
  }
}
